<title>Clean Blog</title>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10">
          <% @articles.each do |article| %>
                <div class="post-preview">
                  <div class="media">
                      <%= image_tag article.image.url(:thumb), class: 'media-object pull-left'%>
                    <h2 class="post-title">
                            <%= link_to article.title, article_path(article) %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= article.sub_title %>
                    </h3>
                    <p class="post-meta">Posted by ShadowMunkey</a> on <%= article.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
                  </div>
                </div>
            <hr>
          <% end %>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">



            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore,
                  perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus l
                  audantium odit aliquam repellat tempore quos aspernatur vero.
                </p>

            </div>

        </div>
    </div>
</div>

<br>
