http://www.madden-school.com/wp-content/uploads/2015/05/madden-16-peterson.jpg

<div class="intro-header" style="background-image:
url('http://www.madden-school.com/wp-content/uploads/2015/05/madden-16-peterson.jpg')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>Clean Blog</h1>
                <hr class="small">
                <span class="subheading">Add a new article for all your followers to see!</span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
<h1>New Article</h1>

<%= render 'form' %>
</div>
