/*
 * CSS for Vidoe Player
 * darkgrey rgb(30, 30, 30);
 * lightgrey rgb(70, 70, 70);
 * lightblue rgb(50, 170, 220)
 */

 #player {
   background-color: rgb(30, 30, 30);
   display: inline-block;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
 }

 .fa, #pbar-container, #sbar-container {
   cursor: pointer;
 }

 .fa:hover {
   color: rgb(50, 170, 220);
 }

 #video-container {
   width: 320px;
   height: 130px;
   position: relative;
 }

 #screen {
   height: 30%;
   width: 345px;
   line-height: 210px;
   text-align: center;
   position: absolute;
   z-index: 1 !important;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }

  .fa-play-circle-o {
    vertical-align: middle;

  }

 video {
   height: 100%;
   width: 100%;
 }

 #pbar-container {
   height: 5px;
   padding-bottom: 1px;
   background-color: rgb(70, 70, 70);
 }

  #pbar {
    height: 5px;
    width: 0%;
    background-color: rgb(50, 170, 220);
  }

  #buttons-container {
    height: 20px;
    padding-bottom: 5px;
  }

  #buttons-container > * {
    display: inline-block;
    height: 100%;
    margin: 0 5px;
  }

  #time-field {
    cursor: default;
  }

  .fa-volume-up {
    margin-right: 0;
  }

  #sbar-container {
    margin-left: 0;
    width: 75px;
    height: 30%;
    background-color: rgb(70, 70, 70);
  }

    #sbar {
      height: 100%;
      width: 100%;
      background-color: rgb(50, 170, 220);
  }

  .fa-expand {
    float: right;
  }
