/*
 * CSS for Vidoe Player
 * darkgrey rgb(30, 30, 30);
 * lightgrey rgb(70, 70, 70);
 * lightblue rgb(50, 170, 220)
 */

#flip {
  cursor: pointer;
}

 #player {
   background-color: rgb(30, 30, 30);
   display: inline-block;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   display: none;
 }

 .fa, #pbar-container, #sbar-container {
   cursor: pointer;
 }

 .fa:hover {
   color: rgb(50, 170, 220);
 }

 #video-container {
   width: 320px;
   height: 130px;
   position: relative;

 }

  .fa-play-circle-o {
    vertical-align: middle;

  }

 video {
   height: 100%;
   width: 100%;
 }

 #pbar-container {
   height: 5px;
   padding-bottom: 1px;
   background-color: rgb(70, 70, 70);
 }

  #pbar {
    height: 5px;
    width: 0%;
    background-color: rgb(50, 170, 220);
  }

  #buttons-container {
    height: 20px;
    padding-bottom: 5px;
  }

  #buttons-container > * {
    display: inline-block;
    height: 100%;
    margin: 0 5px;
  }

  #time-field {
    cursor: default;
  }

  .fa-volume-up {
    margin-right: 0;
  }

  #sbar-container {
    margin-left: 0;
    width: 75px;
    height: 30%;
    background-color: rgb(70, 70, 70);
  }

    #sbar {
      height: 100%;
      width: 100%;
      background-color: rgb(50, 170, 220);
  }

  .fa-expand {
    float: right;
  }
